/* Views */
.view-comment-create {
    margin-top: 20px;
    border-top: 1px solid #222;
    padding-top: 15px;
}

.post-details .cell + .cell,
.comment-details .cell + .cell {
    margin-top: 10px;
}

.post-details .cell,
.post-details label,
.comment-details .cell,
.comment-details label {
    line-height: 1.25;
}

.post-details .date-time,
.comment-details .date-time {
    font-size: 0.8rem;
}

.post-header { position: relative; }

.post-header .post-title { order: 1 }
.post-header .post-author { order: 3 }
.post-header .post-date { order: 4 }
.post-header .post-score { position: absolute; bottom: 5px; right: 0; }

.post-header p { margin-bottom: 0; }

.post-title {
    font-size: 2rem;
    line-height: 1.35;
}

.post-header,
.post-body {
    margin: 0 0 1rem;
}

.post-header { align-items: flex-end; }


@media screen and (max-width: 39.9375em) {
    .view-post-detail .post-author p {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 64em) {
    .post-header .post-score { order: 4; position: relative; bottom: auto; right: auto; }
    .post-header .post-author { order: 2 }
    .post-header .post-date { order: 3 }
}
