/* headings */
h1, h2, h3, h4, h5, h6, legend {
    font-style: normal;
    font-weight: 600;
    color: #5e0909;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, legend, .app-content {
    font-family:"Montserrat","Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

/* SVG */
.svg-defs {
    width: 1px;
    height: 1px;
    position: absolute;
}
a svg { pointer-events: none; }

/* Forms */
button {
    cursor: pointer !important;
}
button:not(.button-icon) {
    transition: color 0.65s ease-out, background-color 0.65s ease-out;
    border-radius: 4px;
    background: #f5f5f5; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f5f5f5 0%,#f1f1f1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f5f5f5 0%,#f1f1f1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border: 1px solid #969696;
    color: #555;
    padding: 5px 8px;
}

button:hover:not(:disabled):not(.button-icon) {
    color: #111;
    background: #f1f1f1; /* Old browsers */
    background: -moz-linear-gradient(top, #f1f1f1 0%, #c6c6c6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f1f1f1 0%,#c6c6c6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f1f1f1 0%,#c6c6c6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

button:disabled {
    cursor: default !important;
}

button:disabled:not(.button-icon) {
    border-color: #c6c6c6;
    color: #c6c6c6;
}

button svg { pointer-events: none; }

legend { text-align: left; }

label, .input-text { display: block; }

label { font-weight: 500; font-size: 0.875rem; }

[type="checkbox"] + label { font-weight: 400; position: relative; top: -2px; }

.app-content textarea { min-height: 10rem; }

[for]:hover { cursor: pointer; }

.form-actions { text-align: right; }

.l-sm-horiz label,
.l-sm-horiz .input-text { display: inline-block; }

.is-invalid-input:not(:focus) {
    border-color: #6d0019;
    background-color: #f8e6e7;
}

.is-invalid-input:focus {
    border-color: #6b454d;
    background-color: #f7eff0;
}

@media screen and (min-width: 40em) { /* was 720px */

    .comment-main, .post-main { order: 1; }
    .comment-details, .post-details { order: 2; }
    .form-actions { order: 10; }

    .l-md-vert label,
    .l-md-vert .input-text {
        display: block;
    }
    .l-md-horiz label,
    .l-md-horiz .input-text {
        display: inline-block;
    }
}

@media screen and (min-width: 64em) { /* was 960px */
    .l-lg-vert label,
    .l-lg-vert .input-text {
        display: block;
    }
    .l-lg-horiz label,
    .l-lg-horiz .input-text {
        display: inline-block;
    }
}
