/* app navigation */
.app-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #222;
    right: 0;
    color: #fff;
    padding: 0.25rem 0.5rem;
    overflow: hidden;
}

.app-nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.app-nav li {
    flex: 1 1 auto;
}

.app-nav a {
    color: inherit;
    display: block;
    padding: 0.125rem;
    border-radius: 50%;
    overflow: hidden;
}

.app-nav a * { pointer-events: none; }

.app-nav .icon {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 auto;
    background-size: 1.5rem 1.5rem;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 3px;
}

.app-nav .icon::before {
    display: block;
    content: "";
    margin: 0 auto;
    background-color: rgba(255,0,0,0.8);
    transition: background-color 0.45s ease-out;
}

.app-nav :hover .icon::before {
    background-color: rgba(255,255,255,0.8);
    transition: background-color 0.25s ease-out;
}

@media (min-width: 40em) {  /* was 560px */
    .app-nav ul { padding: 0 40px; }
    .app-nav .icon { width: 1.65rem; height: 1.65rem; background-size: 1.65rem 1.65rem; }
}

@media (min-width: 720px) {  /* was 720px */
    .app-nav { left: 0; top: 0; bottom: 0; padding: 1rem 0.25rem; max-width: 44px; }
    .app-nav ul { padding: 0; flex-flow: column nowrap; }
    .app-nav li + li { margin-top: 0.75rem; }
    .app-nav .icon { width: 1.85rem; height: 1.85rem; background-size: 1.85rem 1.85rem; }
}

@media (min-width: 75em) {  /* was 1024px */
    .app-nav { padding: 1rem 0.5rem; max-width: 52px; }
    .app-nav .icon { width: 2rem; height: 2rem; background-size: 2rem 2rem; }
}

.nav-btc .icon {
    background-image: url("../img/coins/bitcoin.png");
}
.nav-ltc .icon {
    background-image: url("../img/coins/litecoin.png");
}
.nav-eth .icon {
    background-image: url("../img/coins/ether.png");
}
.nav-xrp .icon {
    background-image: url("../img/coins/ripple.png");
    position: relative;
    left: -2px;
}