body { background-color: #d9d9d9 !important;}

/* app */
.app { margin: 0 auto; }

.grid-x, .app-content { max-width: 80rem; }


/* app header */
.app-title, .app-logo { display: inline-block; }

.app-logo-link {
    position: relative;
    left: -10px;
}

.app-logo {
    animation: app-logo-spin infinite 20s linear;
    height: 40px;
    position: relative;
    top: -4px;
}

.app-title {
    font-size: 1.5em;
    color: #fff;
}

a:hover .app-title,
a:focus .app-title { color: #ccc; }

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.app-header {
    background-color: #222;
    height: 70px;
    padding: 20px 0 0;
    color: #fff;
    overflow: hidden;
}

.app-footer {
    color: #888;
    padding-top: 7px;
}

.app-header .grid-x,
.app-footer .grid-x {
    padding-left: 5px;
    padding-right: 5px;
}


/* shared: content, header, footer */
.app-header .grid-x,
.app-footer .grid-x,
.app-content {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}


/* app-content */
.app-content {
    padding: 10px 6px 30px;
    background-color: #fff;
    overflow-y: auto;

    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.app-content:before, .app-content:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

.app-content:after {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}


@media (min-width: 40em) {
    .app-header .grid-x,
    .app-footer .grid-x,
    .app-content { max-width: 100%; }
    .app-content { padding: 25px 12px 50px; }
}
@media (min-width: 720px) {
    .app-header .grid-x,
    .app-footer .grid-x,
    .app-content { max-width: 670px; }
    .app-content { padding: 25px 18px 60px; }
    .app-header .grid-x,
    .app-footer .grid-x { padding-left: 10px; padding-right: 10px; }
    .app-logo-link { left: -10px; }
}
@media (min-width: 64em) {
    .app-header .grid-x,
    .app-footer .grid-x,
    .app-content { max-width: 980px; }
    .app-content { padding: 30px 20px 70px; min-height: 450px; }
    .app-header .grid-x,
    .app-footer .grid-x { padding-left: 15px; padding-right: 15px; }
    .app-logo-link { left: -15px; }
}
@media (min-width: 75em) {
    .app-header .grid-x,
    .app-footer .grid-x,
    .app-content { max-width: 1140px; }
    .app-content { padding: 30px 30px 80px; }
}


/* button-icon */
.button-icon * { pointer-events: none; }
.button-icon .icon { width: 24px; height: 24px; }
.size-sm .button-icon .icon { width: 20px; height: 20px; }


/* uuid */
.text-uuid {
    line-height: 1.25;
    font-size: 0.8rem;
}


/* grid */
.grid-x {
    max-width: 80rem;
}
