/* Views */
.view-comment-create {
    margin-top: 20px;
    border-top: 1px solid #222;
    padding-top: 15px;
}

.post-details .cell + .cell,
.comment-details .cell + .cell {
    margin-top: 10px;
}

.post-details .cell,
.post-details label,
.comment-details .cell,
.comment-details label {
    line-height: 1.25;
}

.post-details .date-time,
.comment-details .date-time {
    font-size: 0.8rem;
}

.post-header { position: relative; }

.post-header .post-title { order: 1; }
.post-header .post-author { order: 2; }
.post-header .post-score { order: 3; text-align: left; }

.post-header .post-author-text,
.post-header .post-pubdate-text { display: inline-block; }

.post-header .post-author-text { padding-right: 1rem; }

.post-header p { margin-bottom: 0; }

.view-post .post-title {
    font-size: 2rem;
    line-height: 1.25;
}

.view-post .post-title-comments {
    margin: 0;
    padding: 0;
    font-size: 0.95rem;
    color: #888;
}
.post-title + .post-title-comments {
    position: relative;
    top: -10px;
}

.view-post-edit .post-details input,
.view-post-create .post-deleted input { margin-bottom: 0; }

.view-post .post-header,
.view-post .post-body {
    margin: 0 0 1rem;
}

.view-post .post-body {
    min-height: 300px;
}

.post-header { align-items: flex-end; }

.action-link { display: inline-block; }

.action-link:hover { text-decoration: underline; }

.view-post .action-link,
.view-comment-create .action-link { margin-left: 5px; }

.action-link + .action-link { margin-left: 15px; }


@media screen and (max-width: 39.9375em) {
    .view-post .post-author p {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 40em) {
    .view-post .post-edit { text-align: right; }
    .view-post .text-uuid { display: block; }
}

@media screen and (min-width: 64em) {
    .post-header .post-score { order: 4; text-align: right; }
    .comment-header .comment-score { text-align: right; }
    .post-header .post-author { order: 2 }
    .post-header .post-date { order: 3 }
}
