/* filter by  */

.hdr-filter {
    margin-bottom: 0;
}

.filter-by {
    display: inline-flex;
}

.filter-by, .filter-links {
    align-items: baseline;
    justify-content: flex-start;
    flex-flow: row nowrap;
}

.filter-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-label,
.filter-by .filter-item {
    margin: 0 0.5rem 0 0;
}

.filter-label,
.filter-by .filter-link {
    font-size: 0.9rem;
    line-height: 1.25;
}

.filter-by .filter-item:last-child {
    margin-right: 0;
}

.filter-by .filter-link {
    display: block;
    padding: 1px 4px;
    max-height: 26px;
    background-color: #fff;
    color: #222;
    transition: color 0.25s ease-in,
        background-color 0.25s ease-in;
    outline: 0;
}

.filter-by .filter-link:hover:not(.active),
.filter-by .filter-link:focus:not(.active) {
    color: #258faf;
    background-color: #e5e5e5;
}

.filter-by .filter-link.active {
    background-color: #222;
    color: #fff;
}

@media screen and (min-width: 40em) { /* was 720px */
    .hdr-filter { margin-bottom: 1rem; }
}

