/* post listing */

.post-list,
.post-list p,
.post-listing { margin: 0; }

.post-list {
    list-style: none;
    line-height: 1.5;
    display: block;
    width: 100%;
}

.post-listing .post-title {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.125;
    margin: 0 0 0.3125rem;
    padding-right: 0.75rem;
    color: #333;
    transition: color 0.35s ease-out;
}

.post-link {
    display: block;
    transition: background-color 0.35s ease-out;
    padding: 0.85rem 0;
    outline: 0;
    padding-right: 110px;
}

.post-link:hover,
.post-link:focus {
    background-color: #f5f5f5;
}

.post-link:active {
    background-color: #d5d5d5;
}

.post-link:hover .post-title,
.post-link:focus .post-title {
    color: #2ba6cb;
}

.post-list .list-item {
    padding: 0;
    position: relative;
}

.post-listing .post-meta {
    font-size: 0.75rem;
    color: #999;
}

.post-listing .post-meta,
.post-listing .post-list-actions {
    font-weight: 400;
    line-height: 1.125;
}

.post-listing .post-meta,
.post-listing .post-list-actions,
.post-listing .action-link {
    transition: color 0.4s ease-out;
}

.post-link:hover .post-meta,
.post-link:focus .post-meta,
.post-link:hover ~ .post-list-actions .action-link,
.post-link:focus ~ .post-list-actions .action-link {
    color: #666;
}

.post-listing .post-meta > * {
    display: inline-block;
    margin-right: 10px;
}

.post-listing .post-meta > :last-child {
    margin-right: 0;
}

.post-list .list-item + .list-item {
    border-top: 1px solid #aaa;
}

.post-list-actions {
    display: inline-block;
    position: absolute;
    text-align: right;
    top: 9px;
    right: 10px;
    color: #ddd;
}

.post-list .action-link {
    display: inline-block;
    font-size: 1.125rem;
    padding: 1px 2px 4px;
    text-align: center;
    color: #ddd;
}

.post-listing .action-link + .action-link {
    margin-left: 8px;
}

.post-listing .action-link:hover,
.post-listing .action-link:focus {
    color: #2ba6cb;
}

@media (min-width: 720px) {
    .post-listing .post-title { font-size: 1.25rem; padding-right: 0; }
}
